@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400;600&display=swap");

*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

p {
	font-weight: 400;
	font-size: 0.7rem;
	color: rgba(255, 255, 255, 0.5);
}

h4 {
	font-size: 0.9rem;
	margin-bottom: 5px;
	color: rgba(255, 255, 255, 0.8);
}

body {
	background-color: #8287a0;
	font-family: "Urbanist", sans-serif;
	letter-spacing: 0.07em;
}

.container {
    width: 100%;
	background-color: #1a1b1f;
    position: relative;
    display: flex;
}

/* Navbar Style */
nav {
	width: 20rem;
	border-right: 2px solid #3a3c47;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px 20px;
	color: white;
	position: relative;
}

.logo {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, -50%);
}

nav ul {
	list-style: none;
}

nav ul li {
    padding: 22px;
    margin: 30px;
	border-radius: 10px;
	cursor: pointer;
}

nav ul i {
	color: rgba(255, 255, 255, 0.5);
}

nav ul li:hover,
nav li.active {
	background-color: #3482e7;
}
nav ul li:hover i,
nav li.active i {
	color: white;
}

.fa-shopping-bag {
	transform: translateX(3px);
}

/* -------------------------navbar end-------------------------- */

.right-section {
	width: 100%;
	height: 100%;
	position: relative;
}

/* -------------------------main-------------------------- */

main {
	flex: 1;
}

.main-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search > input {
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	height: 100%;
	width: 90%;
	font-family: "Urbanist", sans-serif;
	font-weight: 400;
}

.search > input::placeholder {
	font-weight: 600;
}

.search {
	width: 30%;
	min-width: 300px;
	padding: 1em 1.5em;
	background-color: #313237;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 50px;
	color: rgba(255, 255, 255, 0.5);
}

.top {
	width: 100%;
	display: flex;
	color: white;
}

.top a {
    padding: 10px;
    color: #9aa2dc;
    margin: 0px 16px;
	position: relative;
	cursor: pointer;
    text-decoration: none;
}

.top a:hover {
	color: #4990ec;
}

.top a.active {
    color: white;
    border-bottom: 2px solid #da373c;
}

.top .fa-bars {
	display: none;
}

.top i:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

header {
	padding: 70px 30px 30px 30px;
	border-radius: 30px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	background-color: #313237;
	background-image: radial-gradient(
		ellipse at top,
		#3a3c47,
		rgba(0, 0, 0, 0.6)
	);
	position: relative;
	margin-bottom: 30px;
}

.spiderman-img {
	width: 400px;
	position: absolute;
	top: -40px;
	right: -20px;
}

.spiderman-img img {
	max-width: 100%;
}

.tag {
	padding: 0.3em 0.75em;
	background-color: #ff3d3d;
	border-radius: 5px;
	font-size: 0.8rem;
	color: white;
	width: max-content;
	margin-bottom: 20px;
}

header h1 {
	color: white;
	width: 50%;
	margin-bottom: 20px;
}

.purchase {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 5px;
	width: 200px;
	justify-content: space-between;
}

.purchase h2 {
	font-size: 0.8rem;
	color: white;
	padding: 0 10px;
}

.purchase button {
	padding: 1em 2em;
	border-radius: 10px;
	border: none;
	outline: none;
	font-family: "Urbanist", sans-serif;
	background-color: #3482e7;
	color: white;
	font-weight: 600;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.purchase button::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: #3482e7;
	filter: blur(10px);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.1s linear;
}

.purchase button:hover::after {
	opacity: 1;
}

.most-played {
	max-width: 100%;
	color: white;
}

.most-played h3 {
	margin-bottom: 20px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.game-image-container {
	height: 150px;
	width: 100%;
	overflow: hidden;
	border-radius: 20px;
	margin-bottom: 10px;
}

.games-card img {
	
	
	object-fit: cover;
	flex: 1 0 calc(25% - 20px); /* Ajusta el número de tarjetas por fila según sea necesario */
    max-width: calc(25% - 20px); /* Ajusta el ancho máximo de cada tarjeta */
    margin-bottom: 20px;
	cursor: pointer;
	transition: transform 0.2s linear;
}
.games-card img:hover {
	transform: scale(1.05);
}

.right-section .container-video {
	position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
	
}

.right-section .container-video:before {
	 content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
  
.right-section .container-video video {
	 width: 100%;
    height: 100%; /* Ajusta la altura al 100% para cubrir completamente el contenedor */
    object-fit: cover;
}

.right-section .header {
    position: absolute;
	width: 100%;
    height: 30rem;
    z-index: 2;
	padding: 40px;
}

.right-section .header h2 {
	font-weight: bold;
    color: white;
    font-size: 32pt;
	margin-top: 104px;
}

.right-section .header p {
	margin-bottom: 30px;
	font-size: 12pt;
}

.right-section .header button {
	background: #ff8383;
	border: none;
	color: #fff;
	padding: 18px 44px;
	border-radius: 6px;
	letter-spacing: 2px;
	cursor: pointer;
	margin-right: 14px;
}

.right-section .header button:hover {
	background: #ee9595;
}

/* -------------------------------------main end-------------------------------------------- */

.main-flex {
	display: flex;
	margin-top: 30px;
	height: 100%;
}

/* -----------------------------------------aside---------------------------------------------- */

aside {
	flex: 0.5;
	margin-left: 30px;
}

.library {
	clear: right;
	color: white;
	padding: 30px;
	background-image: linear-gradient(to top, #1a1b1f 50%, #313237 90%);
	border-radius: 30px;
	border: 2px solid rgba(255, 255, 255, 0.1);
}

.library-card {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.game-logo {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
}

.game-logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.game-details {
	flex: 0.9;
}

.library-card i {
	cursor: pointer;
	flex: 0.1;
	color: rgba(255, 255, 255, 0.5);
}

.fa-check-circle {
	color: #3482e7 !important;
	font-size: 1.1rem;
}

.library hr {
	border: none;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.3);
	width: 70%;
	margin: 20px auto;
}

.offline,
.online {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.online {
	background-color: rgb(23, 221, 23);
}

.offline {
	background-color: #ff3d3d;
}

.attribution {
	margin-top: 30px;
	color: #1a1b1f;
}

.attribution a {
	text-decoration: none;
	color: inherit;
}

/* Caracteristicas */
section {
	width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 2rem;
}

section .left {
	max-width: 800px;
	text-align: justify;
}

section .right {
	margin-left: 70px;
}

.title {
	display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

section .left svg {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

section span {
	color: #afb4d4;
}

.left h4 {
	color: #e8c579;
}

.left h2, .left h3, .right h3 {
	color: white;
}

.left p {
	font-size: 12pt;
	color: #afb4d4;
}


